* {
    font-family: Quicksand, sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-width: 360px;
}
.flex {
    background-image: linear-gradient(90deg, rgba(157, 145, 226, 0.336), rgba(238, 171, 227, 0.747));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.calculatormain {
    flex: 0 1 500px;
    height: 680px;
    background-color: rgb(179, 128, 221);
    box-shadow: 0 0 8px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.screen {
    height: 180px;
    background-image: linear-gradient(90deg, rgba(136, 125, 197, 0.452), rgba(170, 82, 155, 0.678));
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 20px 0 20px;
    border-radius: 10px 10px 0 0;
}
.screenlastnum {
    font-size: 34px;
    color: rgb(255, 220, 241);
    margin: 0;
    padding: 0;
}
.screennum {
    font-size: 80px;
    color: rgb(241, 231, 237);
    top: 10px;
    margin: 0 0 10px 0;
    padding: 0;
    right: 10px;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
.opbuttons {
    color: rgb(250, 219, 237);
    background-image: linear-gradient(120deg, rgba(153, 84, 172, 0.459), rgba(146, 73, 130, 0.445));
    flex: none;
}
.buttonsf {
    font-size: 80px;
    margin: 0;
    width: 125px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
}
.numbuttons, .dotbutton {
    color: rgb(255, 245, 253);
    background-image: linear-gradient(120deg, rgba(209, 129, 233, 0.459), rgba(223, 156, 208, 0.692));
    flex: none;
    font-size: 70px;
}
#equals {
    color: rgb(245, 227, 238);
    font-size: 100px;
    height: 400px;
    background-image: linear-gradient(120deg, rgba(166, 101, 196, 0.671), rgba(216, 88, 188, 0.562));
    border-radius: 0 0 10px 0;
}
#zero {
    border-radius: 0 0 0 10px;
}
.numberss {
    display: flex;
}
.number1 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#mult {
    font-size: 44px;
    font-weight: 600;
}
.buttonsf:active{
    transform: scale(1.05);
	transition: .05s;
}
.buttonsf{
    transition: all .1s ease-in-out;
}
@media (hover:hover){
    .buttonsf:hover{
        background-color: rgb(115, 11, 136);
        box-shadow: 0 0 1px rgb(133, 10, 96);
        cursor: pointer;
}

}

@media (max-width: 550px) {
    .calculatormain {
        flex: 0 1 400px;
        height: 600px;
    }
    .screen {
        height: 160px;
    }
    .buttonsf {
        font-size: 60px;
        width: 100px;
        height: 88px;
    }
    #equals {
        height: 352.5px;
    }
    #currentnum{
        font-size: 68px;
    }
    #lastnum{
        font-size: 30px;
    }
    #mult {
        font-size: 40px;
        font-weight: 300;
    }
  }

  @media (max-width: 420px) {
    .calculatormain {
        flex: 0 1 350px;
        height: 560px;
    }
    .screen {
        height: 150px;
    }
    .buttonsf {
        font-size: 48px;
        width: 87.5px;
        height: 83px;
    }
    #equals {
        height: 333px;
    }
    #currentnum{
        font-size: 60px;
    }
    #lastnum{
        font-size: 28px;
    }
    #mult {
        font-size: 36px;
        font-weight: 300;
    }
  }